In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

In [2]:
housing=pd.read_csv(r"C:\Users\User\Documents\trains.csv")
housing.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,PRICE
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   POSTED_BY           29451 non-null  object
 1   UNDER_CONSTRUCTION  29451 non-null  int64
 2   RERA                29451 non-null  int64
 3   BHK_NO              29451 non-null  int64
 4   BHK_OR_RK           29451 non-null  object
 5   SQUARE_FT           29451 non-null  float64
 6   READY_TO_MOVE       29451 non-null  int64
 7   RESALE              29451 non-null  int64
 8   ADDRESS             29451 non-null  object
 9   LONGITUDE           29451 non-null  float64
 10  LATITUDE            29451 non-null  float64
 11  PRICE               29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [4]:
housing.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,PRICE
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [5]:
#sns.pairplot(housing)

In [6]:
housing.shape

(29451, 12)

In [7]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [8]:
housing['POSTED_BYle']=le.fit_transform(housing.POSTED_BY)
housing['BHK_OR_RKle']=le.fit_transform(housing.BHK_OR_RK)
housing['ADDRESSle']=le.fit_transform(housing.ADDRESS)

In [9]:
housing1=housing.drop(['POSTED_BY','BHK_OR_RK','ADDRESS'],axis='columns')
housing1.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,PRICE,POSTED_BYle,BHK_OR_RKle,ADDRESSle
0,0,0,2,1300.236407,1,1,12.969910,77.597960,55.0,2,0,2844
1,0,0,2,1275.000000,1,1,12.274538,76.644605,51.0,1,0,6576
2,0,0,2,933.159722,1,1,12.778033,77.632191,43.0,2,0,2256
3,0,1,2,929.921143,1,1,28.642300,77.344500,62.5,2,0,5095
4,1,0,2,999.009247,0,1,22.592200,88.484911,60.5,1,0,3830

In [10]:
housing1["SQUARE_FT"]=housing1["SQUARE_FT"].astype(int)
housing1["PRICE"]=housing1["PRICE"].astype(int)
housing1["LONGITUDE"]=housing1["LONGITUDE"].astype(int)
housing1["LATITUDE"]=housing1["LATITUDE"].astype(int)

In [11]:
housing1["PRICE"]=np.ceil(housing1["PRICE"]/1.5)
#housing1["PRICE"].where(housing1["PRICE"]<5,5.0,inplace=True)

In [12]:
corr_matrix=housing1.corr()
corr_matrix["PRICE"].sort_values(ascending=False)

PRICE                 1.000000
SQUARE_FT             0.402676
BHK_NO                0.112323
RERA                  0.067599
UNDER_CONSTRUCTION    0.055333
BHK_OR_RKle          -0.004431
ADDRESSle            -0.016185
LATITUDE             -0.018499
LONGITUDE            -0.029859
READY_TO_MOVE        -0.055333
POSTED_BYle          -0.093276
RESALE               -0.207314
Name: PRICE, dtype: float64

In [13]:
Q1=housing1.PRICE.quantile(0.25)
Q3=housing1.PRICE.quantile(0.75)
IQR=Q3-Q1
print(IQR)
housedf=housing1[~((housing1.PRICE<(Q1-1.5*IQR))|(housing1.PRICE>(Q1+1.5*IQR)))]

41.0

In [14]:
Q1=housing1.SQUARE_FT.quantile(0.25)
Q3=housing1.SQUARE_FT.quantile(0.75)
IQR=Q3-Q1
print(IQR)
housedf=housing1[~((housing1.SQUARE_FT<(Q1-1.5*IQR))|(housing1.SQUARE_FT>(Q1+1.5*IQR)))]

650.0

In [15]:
Q1=housing1.BHK_NO.quantile(0.25)
Q3=housing1.BHK_NO.quantile(0.75)
IQR=Q3-Q1
print(IQR)
housedf=housing1[~((housing1.BHK_NO<(Q1-1.5*IQR))|(housing1.BHK_NO>(Q1+1.5*IQR)))]

1.0

In [16]:
Q1=housing1.RERA.quantile(0.25)
Q3=housing1.RERA.quantile(0.75)
IQR=Q3-Q1
print(IQR)
housedf=housing1[~((housing1.RERA<(Q1-1.5*IQR))|(housing1.RERA>(Q1+1.5*IQR)))]

1.0

In [17]:
Q1=housing1.UNDER_CONSTRUCTION.quantile(0.25)
Q3=housing1.UNDER_CONSTRUCTION.quantile(0.75)
IQR=Q3-Q1
print(IQR)
housedf=housing1[~((housing1.UNDER_CONSTRUCTION<(Q1-1.5*IQR))|(housing1.UNDER_CONSTRUCTION>(Q1+1.5*IQR)))]

0.0

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit

In [19]:
#split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
#for train_index,test_index in split.split(housing1,housing1["PRICE"]):
#    strat_train_set=housing.loc[train_index]
#    strat_test_set=housing.loc[test_index]

In [20]:
#housing2=strat_train_set.drop('PRICE',axis=1)
housing_labels=housedf["PRICE"]

In [21]:
housedf["PRICE"].value_counts()/len(housing1)

24.0      0.027945
30.0      0.025738
67.0      0.021256
74.0      0.020950
20.0      0.020644
            ...
6534.0    0.000034
814.0     0.000034
2000.0    0.000034
1727.0    0.000034
1174.0    0.000034
Name: PRICE, Length: 261, dtype: float64

In [22]:
housing_prepared=housedf[["RESALE","BHK_NO","LATITUDE","UNDER_CONSTRUCTION","RERA","BHK_OR_RKle","LONGITUDE","SQUARE_FT"]]   
housing_prepared.head()

,RESALE,BHK_NO,LATITUDE,UNDER_CONSTRUCTION,RERA,BHK_OR_RKle,LONGITUDE,SQUARE_FT
0,1,2,77,0,0,0,12,1300
1,1,2,76,0,0,0,12,1275
2,1,2,77,0,0,0,12,933
3,1,2,77,0,1,0,28,929
5,1,3,76,0,0,0,10,1250

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
reg=RandomForestRegressor()

In [25]:
reg.fit(housing_prepared,housing_labels)

RandomForestRegressor()

In [26]:
reg.score(housing_prepared,housing_labels)

0.9670712744627821

In [27]:
some_data=housing1.iloc[:5]
some_labels=housing_labels.iloc[:5]
some_data_prepared=housing_prepared
print("predictions: ",reg.predict(some_data_prepared))

predictions:  [49.91455086 35.80917857 34.07316667 ... 20.11097619 40.67933333
 18.08919048]

In [28]:
print("labels: ",list(some_labels))

labels:  [37.0, 34.0, 29.0, 42.0, 28.0]

In [29]:
from sklearn.metrics import mean_squared_error
housing_predictions=reg.predict(housing_prepared)
mse=mean_squared_error(housing_labels,housing_predictions)
forest_rmse=np.sqrt(mse)
forest_rmse

65.18439909592776

In [30]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(reg,housing_prepared,housing_labels,scoring="neg_mean_squared_error",cv=10)
tree_rmse_scores=np.sqrt(-scores)

In [31]:
def display_scores(scores):
    print("scores:",scores)
    print("mean:",scores.mean())
    print("standard deviation",scores.std())

In [32]:
display_scores(scores)

scores: [  -6947.45856221   -6161.91034339   -7103.80577905  -79553.23613711
  -13683.37402708 -120122.108704    -10754.88571573   -4358.88711982
  -12533.23433061  -13195.06172941]
mean: -27441.39624484064
standard deviation 37439.9923639091